@*@model Product

<div>
    <div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Product.Id" class="form-control border-0 shadow" />
            <label asp-for="Product.Id" class="ms-2"></label>
        </div>
    </div>
</div>*@