
@model List<Product>;



<div class="container">
<div class="row">
@foreach(var Product in Model.OrderBy(u=>u.Products))
{
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>@Product.Name</h4>
        <p>Descrição: @Product.Description</p>
        <p>Preço: @Product.Price.ToString("c")</p>
    </div>
}
</div>
</div>